.score{
    background-color: #FBFBFB;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.objectif{
    max-width: 10%;
    position: absolute;
    margin-top: 85px;
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    text-align: center;
    font-size: 26px;
}

.objectif h3{
    color: #282D30;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.objectif p{
    color: #74798C;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .objectif{
        margin-top: 80px;
        margin-left: 85px;
    }

    .objectif h3{
        font-size: 22px;
    }

}


