.vertical-bar {
    position: absolute;
    background-color: #020203;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;

}


.vertical-bar .vertical-bar__item {

    margin-bottom: 20px;
}

.vertical-bar .copyright {
    color: white;
    rotate: 270deg;
    margin-top: 100px;
    white-space: nowrap;
}


